@mixin shadowService {
    background: white;
    color: black;
    /* line-height: 2em; */
    padding-top: 32px;
    padding-bottom: 32px;
    padding-right: 32px;
    padding-left: 32px;
    /* margin-right: 32px; */
    margin-bottom: 32px;
    margin: 0 5px 5px;
}

.container {
    padding-right: 0;
    padding-left: 0;
    margin-right: 0;
    margin-left: 0;
}

body {
    overflow-x: hidden;
    font-family: Arial,Helvetica,sans-serif;
}

.scroll-pane {
    width: 100%;
    height: 300px;
    overflow: auto;
}

.header-video {
    height: 800px;    
}

.person {
    letter-spacing: 0.15em;
    text-decoration: none;
    text-align: center;
    font-size: 17px;
    font-family: monospace;

    &:hover {
        cursor: pointer;
    }

    strong {
        font-weight: 900;
        text-transform: uppercase;
    }

    button {
        transition: 0.5s;

        &:hover {
            color: #40E0D0;
            transition: 0.5s;
            text-decoration: none;
        }
    }
}

.btn-link {
    font-weight: 400;
    color: black;
    text-decoration: none;
    font-size: 17px;
    transition: 0.5s;

    &:focus {
        text-decoration: none;
    }
}

.font_7 {
    line-height: 1.4em;
    font-size: 17px;

    span {
        letter-spacing: 0.18em;
    }
}

.font_3 {
    font-size: 110px;
    font-weight: 900;

    .do-span {
        font-weight: bold;
    }

    span {
        letter-spacing: 0.1em;
    }
}

// Для текста на фоне видео.
.about {
    padding: 200px 0;
    overflow: hidden;
    position: relative;
}

.about-title {
    font-family: sans-serif;
    font-size: 70px;
    text-align: center;
    position: relative;
    //opacity: .5;
}
/* VIDEO */
.video {
    top: 50%;
    //width: 1938px;
    transform: translate(-50%, -50%);
    //opacity: 0.5;
    left: 50%;
    z-index: 0;
    position: absolute;
    height: 100%;
}

.about-header {
    position: absolute;
    top: 0;
    width: 100%;
    height: 110px;
}

.about-footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 126px;
}

.about-header-bg-2 {
    position: absolute;
    left: 50%;
    top: 0;
    z-index: 1;
    transform: translate(-50%, -100%);
    transition: transform 0.9s 0.2s ease;
    will-change: transform;
    transform: translate(-50%, 0);
}

@media (max-width: 768px) {
    .video,
    .about-header,
    .about-footer,
    .about-header-bg-2 {
        display: none;
        height: 100%;
    }
}

@media (max-width: 480px) {
    .about-title {
        font-size: 40px;
    }
}

// Кнопка заказать сайт.
.btn-order {
    width: 151px;
    background-color: #23272b;
    border-radius: inherit;
    border-width: 2px;
    transition: 0.5s;
    margin-bottom: 200px;

    &:hover {
        border-color: black;
        border-width: 2px;
        background: transparent;
        color: black;
        transition: 0.5s;
    }

    &:focus {
        border-color: black;
        border-width: 2px;
        background: transparent;
        color: black;
        transition: 0.5s;
    }
}

.name {
    letter-spacing: 0.1em;
    font-weight: 900;
    text-align: start;
    line-height: 1.2em;
    font-size: 42px;
    font-family: arial black,arial-w01-black,arial-w02-black,arial-w10 black,sans-serif;
}

.border {
    background: none repeat scroll 0 0 black;
    display: block;
    width: 40px;
    height: 5px;
}

.text-my-info {
    line-height: 1.7em;
    font-size: 15px;
    letter-spacing: normal;
    font-family: monospace;
    margin: 0px 64px 20px calc((100% - 490px) * 1);
}

// Фил  ьтры категорий работ.
.filter {
    margin: 0px 0px 64px calc((46% - 490px) * 1);

    .filter-item {
        font-size: 15px;
        letter-spacing: normal;
        font-family: monospace;
        margin: 0 10px;
        text-decoration: underline;

        &:hover {
            cursor: pointer;
        }
    }
}

.block-name {
    margin: 0px 0px 64px calc((100% - 490px) * 1);
    border-top: 2px solid black;
    width: 40px;
    margin-bottom: 5%;
}

.nop {
    font-size: initial;
    //margin-top: 100px;
}

.services {
    justify-content: center;
}

.service-item {
    font-family: sans-serif;
    font-size: 22px;
    color: black;
    transition: 0.5s;

    &:hover {
        opacity: .6;
        cursor: pointer;
        transition: 0.5s;
    }
}

.service-1 {
    @include shadowService;
}

.not-margin {
    margin: 0 auto;
}

.block-services {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 180px;
}

.nav-services ul {
    display: flex;
    justify-content: center;
    border-bottom: none;

    a {
        color: black;

        &:hover {
            border-color: transparent!important;
        }
    }
}

.about-two {
    padding: 0;
    margin-bottom: 387px;
}

.my-services {
    letter-spacing: 0.1em;
    font-weight: 900;
    text-align: start;
    line-height: 1.2em;
    font-size: 42px;
    font-family: arial black,arial-w01-black,arial-w02-black,arial-w10 black,sans-serif;
    border-top: 2px solid black;
    width: 40px;
    margin: 0px 0px 64px calc((100% - 490px) * 1);
}

// Стили футера.
footer {
    background: #57BBBF;

    .contact-me {
        font-size: 23px;
        letter-spacing: 0.1em;
        text-transform: uppercase;
        line-height: normal;
        margin-bottom: 0;
    }

    .contact-me-details {
        margin: 0px 0px 64px calc((100% - 490px) * 1);

        .form-control-sm {
            font-size: 15px;
        }
    }

    .form-item {
        border-radius: initial;
        width: 500px;

        &:hover {
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
        }
    }

    .btn-form {
        display: flex;
        justify-content: center;
        //margin-right: -11%;
        //margin-right: -1%;
        margin: 0px 16px 0px 5px;
    }

    .arrow-up {
        height: 25px;
    }

    .block-arrow {
        /*display: flex;
        justify-content: space-evenly;
        margin-top: -5%;
        //margin-right: -5%;
        //margin-right: -17%;
        margin-right: -7%;*/
        display: flex;
        justify-content: space-evenly;
        margin-top: -11%;
        margin-right: -28%;
    }
}

.block-btn-send {
    display: flex;
    text-align: center;
    align-items: center;
    flex-direction: column;
}

.form-control:focus {
    color: #495057;
    background-color: #fff;
    border-color: black;
    border-width: 2px;
    outline: 0;
    /* box-shadow: 0 0 0 0.2rem rgba(0,123,255,.25); */
}

// Стили для табов услуг.
.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    color: black;
    border-bottom: 2px solid seagreen;
}

.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
    color: #495057;
    background-color: transparent;
    border-color: transparent;
    border-bottom: 2px solid #3A7C80;
    border-width: initial;
}

// Блок с работами.
.list-works {
    display: flex;
    margin-bottom: 5%;

    .my-foto {
        width: 600px;

        &:hover {
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
        }
    }
}

.portfolio-title {
    margin: 0px 0px 64px calc((48% - 490px) * 1);
}

.ya {
    &:hover {
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    }
}

// Для прелоадера.
/////////////////////////
.mask {
    width: 100%;
    height: 100%;
    background: white;
    position: fixed;
    top: 0;
    z-index: 100;
    transition: 0.6s;
    display: flex;
    justify-content: center;
    align-items: center;
}

.loader {
    width: 75px;
    height: 75px;
    border: 10px solid rgba(89, 196, 90, 0.6);
    border-radius: 50%;
    border-left-color: var(--green);
    animation: loader 1.3s linear infinite;
}

@keyframes loader {
    100% {
        transform: rotate(360deg);
    }
}

.hide {
    opacity: 0;
}
////////////////////////////

/*.hide {
    display: none;
}*/

/* Стили для адаптивности */
/* xs (<=543px) */
@media (max-width: 575px) {
    .person {
        font-size: 10px;
        flex-wrap: nowrap;
    }

    .btn-link {
        font-size: 9px;
    }

    .navbar {
        //flex-direction: column;
        align-items: start;
    }

    .font_3 {
        font-size: 45px;
    }

    .about {
        padding: 217px 0;
    }

    .block-name {
        margin: 20px;
    }

    .btn-order {
        margin-bottom: 0;
    }

    .text-my-info {
        //margin: 0;
        margin: 20px;
        margin-bottom: 2%;
    }

    .name {
        font-size: 30px;
    }

    .my-foto {
        width: 100%;
    }

    .my-services {
        margin: 20px;
        font-size: 30px;
    }

    .video {
        display: flex;
        height: 100%;
    }

    .about-two {
        padding-top: 0;
    }

    .form-group {
        margin: 20px;

        .form-control {
            width: 100%;
        }
    }

    .contact-me-details {
        margin: 0 !important;
    }

    .block-with-ya {
        flex-direction: column;
        display: flex;
    }

    .footer {
        white-space: inherit;
    }

    .service-1 {
        margin: 5px 5px;
    }

    footer .btn-form {
        display: flex;
        justify-content: flex-end;
        margin-right: -6%;
    }

    footer .block-arrow {
        display: flex;
        justify-content: flex-end;
        margin-top: -5%;
        margin-right: 0%;
    }

    .block-about {
        flex-direction: column;
    }

    .ya {
        display: none;
    }

    .list-works {
        flex-direction: column-reverse;

        .my-foto {
            width: 100%;
        }
    }

    .filter {
        margin: 5px 0;
    }

    .after-footer {
        padding: 200px 0;
    }
}

/* md (>=768 и <=991) */
@media (min-width: 768px) and (max-width: 991px) {
    
}

/* lg (>=992 и <=1199) */
@media (min-width: 992px) and (max-width: 1199px) {
    
}