@{
	ViewData["Title"] = "Home Page";
}

<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<title> Частный Full-stack разработчик - Антон Тимошенко </title>
	<link href="~/css/Styles.css" rel="stylesheet" />
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css" />
</head>
<body>	
	<div id="index"></div>

	<section class="mb-5">
	</section>

	<a id="arrow-up"></a>
	<!-- Секция обо мне -->
	<div class="me">
		<div class="row">
			<div class="col my-info-title">
				<div class="block-name mt-5">
					<h4 class="name">Антон<br /> Тимошенко</h4>
				</div>

				<p class="text-my-info">
					Меня зовут Антон. Я живу в Москве, и являюсь частным Full-stack .NET Middle разработчиком с фокусом на Back-end. Опыт в разработке 5 лет, поэтому мне есть, что вам предложить. Могу заключить договор оказания услуг.
					Создаю проекты любой сложности, начиная от сайта-визитки заканчивая индивидуальным проектом!
				</p>

				<p class="text-my-info">
					Специализация: <br />
					Специализируюсь на разработке веб-приложений (в т.ч. сайтов, ERP, CRM как SaaS-решения), клиент-серверных (в т.ч. ERP, CRM как Stand-Alone-решения) и мобильных приложений.
				</p>

				<p class="text-my-info">
					Мой технологический стек:<br />
					Front-end: HTML, CSS, Bootstrap, LESS или SCSS, JavaScript (es5, es6), jQuery, Vue.js.<br />
					Back-end (моя сильная сторона): C# + ASP.NET MVC/ASP.NET Core MVC/ASP.NET Core Web API, SQL Server или MySQL, Entity Framework Core или Dapper, LINQ, Xamarin.
				</p>

				<p class="text-my-info">
					Образование: <br />
					Высшее: Московский автомобильно-дорожный государственный технический университет.
					Среднее профессиональное: Московский государственный колледж информатики и программирования.
				</p>

				<p class="text-my-info">
					Сертификаты: <br />
					Сертификаты (Beonmax, GeekBrains) в областях: Web-разработки, разработке приложений на языке C#, систем управления версиями, баз данных, разработки на стеке технологий Microsoft .NET и ASP.NET Core.
				</p>
			</div>

			<div class="col">
				<img class="my-foto" src="~/images/ya.gQuVX.jpg" />
			</div>
		</div>
	</div>

	<!-- Вторая секция. -->
	<div class="about about-two">

	</div>

	<script src="~/lib/jquery/dist/jquery.min.js"></script>
	<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>