@{
	ViewData["Title"] = "Home Page";
}

<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<link href="~/css/Styles.css" rel="stylesheet" />
</head>
<body>
	<section class="about">
		<video class="video" loop="loop" autoplay="">
			<source src="/video/file.mp4" type='video/mp4; codecs="avc1.42E01E, mp4a.40.2"'>
		</video>

		<div class="about-title">
			<p class="font_7 text-center">
				<span class="do-span">УСПЕХ —&nbsp;ЭТО НАУКА, ЕСЛИ У ВАС ЕСТЬ УСЛОВИЯ, ВЫ ПОЛУЧИТЕ</span>
			</p>

			<h3 class="font_3 text-center">
				<span>
					<span>РЕЗУЛЬТАТ</span>
				</span>
			</h3>
			<div class="text-center">
				<button type="button" class="btn btn-dark form-control btn-order">
					Заказать сайт
				</button>
			</div>
		</div>
	</section>

	<!-- Секция обо мне -->
	<div class="me">
		<div class="row">
			<div class="col my-info-title">
				<div class="block-name mt-5">
					@*<span class="border mt-5">  </span>*@
					<h4 class="name">Антон<br /> Тимошенко</h4>
				</div>

				<p class="text-my-info">
					Это текст. Нажмите один раз и выберите «Редактировать текст» или просто кликните дважды, чтобы добавить свой текст и настроить шрифт. Вы можете переместить его в любое место на странице. Расскажите посетителям сайта о себе.
				</p>

				<p class="text-my-info">
					Здесь будет удачно смотреться текст о вашей компании и услугах. Используйте эту возможность, чтобы выгодно представить себя и свою компанию клиентам.
				</p>

				@*<div>*@
					<button type="button" class="btn btn-dark form-control btn-order text-my-info">
						Подробнее
					</button>
				@*</div>*@
			</div>

			<div class="col">
				<img class="my-foto" src="~/images/ya.gQuVX.jpg" />
			</div>
		</div>
	</div>

	<script src="~/lib/jquery/dist/jquery.min.js"></script>
	<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>