@{
	ViewData["Title"] = "Home Page";
}

<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<link href="~/css/Styles.css" rel="stylesheet" />
</head>
<body>
	<header>
		<video class="header-video" autoplay="autoplay" loop="loop" _width="1000">
			<source src="/video/file.mp4" type='video/mp4; codecs="avc1.42E01E, mp4a.40.2"'>
		</video>
	</header>
</body>
</html>