@{
	ViewData["Title"] = "Home Page";
}

<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<title> Портфолио </title>
	<link href="~/css/Styles.css" rel="stylesheet" />
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css" />
</head>
<body>
	<div id="portfolio">
		<section class="mb-5">
		</section>
		<!-- Секция со списком работ. -->
		<div class="me">
			<div class="row">
				<div class="col my-info-title">
					<div class="block-name mt-5">
						<h4 class="name">Портфолио</h4>
					</div>

					<div class="list-works" v-for="el in aWorks">
						<p class="text-my-info">{{el.title}}</p>

						<p class="text-my-info">{{el.commentTask}}</p>

						<p class="text-my-info">{{el.commentDetails}}</p>

						<img class="my-foto" src="{{el.imagePath}}" />
					</div>					
				</div>

				<div class="col">
					@*<img class="my-foto" src="{{el.imagePath}}" />*@
				</div>
			</div>
		</div>

		<!-- Вторая секция. -->
		<div class="about about-two">

		</div>
	</div>
	
	<script src="~/js/Portfolio.js"></script>
	<script src="~/lib/jquery/dist/jquery.min.js"></script>
	<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>