<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<title> Антон Тимошенко - Портфолио </title>
	<link href="~/css/Styles.css" rel="stylesheet" />
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css" />
	<script src="/lib/highslide/highslide.js" type="text/javascript"></script>
	<link href="/lib/highslide/highslide.css" rel="stylesheet" property="stylesheet" />
	<script type="text/javascript">
		hs.graphicsDir = '/lib/highslide/graphics/';
		hs.wrapperClassName = 'your-own-style';
	</script>
</head>
<body>
	<a id="arrow-up"></a>
	<div id="portfolio">
		<section class="mb-5">
		</section>
		<!-- Секция со списком работ. -->
		<div class="me">
			<div class="row">
				<div class="my-info-title">
					<div class="block-name portfolio-title mt-5">
						<h4 class="name text-center">{{title}}</h4>
					</div>

					<div class="col-lg-12 filter">
						<span class="filter-item" v-on:click="onLoadAllWorks">
							Все
						</span>

						<span class="filter-item" v-on:click="onFilter('lp', 'Landing Page')">
							Landing Page
						</span>

						<span class="filter-item" v-on:click="onFilter('site-viz', 'Сайт-визитка')">
							Сайт-визитка
						</span>

						<span class="filter-item" v-on:click="onFilter('corporate', 'Корпоративный сайт')">
							Корпоративный сайт
						</span>

						<span class="filter-item" v-on:click="onFilter('shop', 'Интернет-магазин')">
							Интернет-магазин
						</span>
					</div>

					<div class="list-works" v-for="el in aWorks">
						<div class="col">
							<p class="text-my-info hide"><strong>{{el.id}}</strong></p>

							<p class="text-my-info"><strong>{{el.title}}</strong></p>

							<p class="text-my-info"><strong>Задача:</strong> {{el.commentTask}}</p>

							<p class="text-my-info"><strong>Описание:</strong> {{el.commentDetails}}</p>

							<div class="btn-form">
								<button type="button" class="btn btn-dark form-control-lg btn-order text-my-info" v-bind:value="el.groupId" v-on:click="setGroupId">
									Подробнее
								</button>
							</div>
						</div>

						<div class="col">
							<a :href="el.url" class="highslide" onclick="return hs.expand(this)">
								<img class="my-foto" :src="el.url" />
							</a>							
						</div>
					</div>
				</div>
			</div>
		</div>

		<!-- Вторая секция. -->
		<div class="about about-two after-footer">

		</div>
	</div>

	<script src="~/js/Portfolio.js"></script>
	<script src="~/lib/jquery/dist/jquery.min.js"></script>
	<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>